@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
      --background: 1.0000 0 0;           
      --foreground: 0.2012 0.0453 278.3434; 

      --card: 0.9608 0.0024 264.5313;
      --card-foreground: 0.2012 0.0453 278.3434;

      --popover: 1.0000 0 0;
      --popover-foreground: 0.2012 0.0453 278.3434;

      --primary: 0 0 0;                    
      --primary-foreground: 0.9843 0.0039 264.5419; 

      --secondary: 0.9608 0.0192 264.5313; 
      --secondary-foreground: 0.2695 0.0515 278.0403; 

      --muted: 0.986 0 0;
      --muted-foreground: 1 0 0;

      --accent: 0.96 0 0;
      --accent-foreground: 0 0 0;

      --destructive: 0.6279 0.2577 29.2339;
      --destructive-foreground: 0.9843 0.0039 264.5419;

      --border: 0.8549 0.0136 258.3382;
      --input: 0.9176 0.0167 258.8462;
      --ring: 0.2012 0.0453 278.3434;

      --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --font-serif: var(--font-lora), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
      --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

      --radius: 0.2rem;
      --spacing-unit: 0.25rem;

      --success: 0.7686 0.1686 208.1613;   
      --warning: 0.9138 0.1285 86.0588;   
      --error: 0.8824 0.1961 27.3251;     

      --footer-bg: 0.18 0 0;                        

      --shadow-x: 0;
      --shadow-y: 1px;
      --shadow-blur: 3px;
      --shadow-spread: 0px;
      --shadow-opacity: 0.1;
      --shadow-color: oklch(0 0 0);
      --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
      --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
      --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
      --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
      --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
      --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
      --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
      --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  [data-theme="kodama-grove"] {
    --background: 0.8798 0.0534 91.7893;
    --foreground: 0.4265 0.0310 59.2153;

    --card: 0.8937 0.0395 87.5676;
    --card-foreground: 0.4265 0.0310 59.2153;

    --popover: 0.9378 0.0331 89.8515;
    --popover-foreground: 0.4265 0.0310 59.2153;

    --primary: 0.6657 0.1050 118.9078;
    --primary-foreground: 0.9882 0.0069 88.6415;

    --secondary: 0.8532 0.0631 91.1493;
    --secondary-foreground: 0.4265 0.0310 59.2153;

    --muted: 0.8532 0.0631 91.1493;
    --muted-foreground: 0.5761 0.0259 60.9323;

    --accent: 0.8361 0.0713 90.3269;
    --accent-foreground: 0.4265 0.0310 59.2153;

    --destructive: 0.7136 0.0981 29.9827;
    --destructive-foreground: 0.9790 0.0082 91.4818;

    --border: 0.6918 0.0440 59.8448;
    --input: 0.8361 0.0713 90.3269;

    --ring: 0.7350 0.0564 130.8494;
    --chart-1: 0.7350 0.0564 130.8494;
    --chart-2: 0.6762 0.0567 132.4479;
    --chart-3: 0.8185 0.0332 136.6539;
    --chart-4: 0.5929 0.0464 137.6224;
    --chart-5: 0.5183 0.0390 137.1892;

    --sidebar: 0.8631 0.0645 90.5161;
    --sidebar-foreground: 0.4265 0.0310 59.2153;
    --sidebar-primary: 0.7350 0.0564 130.8494;
    --sidebar-primary-foreground: 0.9882 0.0069 88.6415;
    --sidebar-accent: 0.9225 0.0169 88.0027;
    --sidebar-accent-foreground: 0.4265 0.0310 59.2153;
    --sidebar-border: 0.9073 0.0170 88.0044;
    --sidebar-ring: 0.7350 0.0564 130.8494;
    
    --font-sans: var(--font-merriweather), serif;
    --font-serif: var(--font-source-serif-4), serif;
    --font-mono: var(--font-jetbrains-mono), monospace;

    --radius: 0.425rem;
    --spacing-unit: 0.25rem;

    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: hsl(88 22% 35% / 0.15);
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
  }

  [data-theme="bubblegum"] {
    --background: 0.9399 0.0203 345.6985;
    --foreground: 0.4712 0 0;

    --card: 0.9498 0.0500 86.8891;
    --card-foreground: 0.4712 0 0;

    --popover: 1.0000 0 0;
    --popover-foreground: 0.4712 0 0;

    --primary: 0.6209 0.1801 348.1385;
    --primary-foreground: 1.0000 0 0;

    --secondary: 0.8095 0.0694 198.1863;
    --secondary-foreground: 0.3211 0 0;

    --muted: 0.8800 0.0504 212.0952;
    --muted-foreground: 0.5795 0 0;

    --accent: 0.9195 0.0801 87.6670;
    --accent-foreground: 0.3211 0 0;

    --destructive: 0.7091 0.1697 21.9551;
    --destructive-foreground: 1.0000 0 0;

    --border: 0.6209 0.1801 348.1385;
    --input: 0.9189 0 0;

    --ring: 0.7002 0.1597 350.7532;

    --chart-1: 0.7002 0.1597 350.7532;
    --chart-2: 0.8189 0.0799 212.0892;
    --chart-3: 0.9195 0.0801 87.6670;
    --chart-4: 0.7998 0.1110 348.1791;
    --chart-5: 0.6197 0.1899 353.9091;

    --sidebar: 0.9140 0.0424 343.0913;
    --sidebar-foreground: 0.3211 0 0;
    --sidebar-primary: 0.6559 0.2118 354.3084;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.8228 0.1095 346.0184;
    --sidebar-accent-foreground: 0.3211 0 0;
    --sidebar-border: 0.9464 0.0327 307.1745;
    --sidebar-ring: 0.6559 0.2118 354.3084;

    --font-sans: var(--font-poppins), sans-serif;
    --font-serif: var(--font-lora), serif;
    --font-mono: var(--font-fira-code), monospace;

    --radius: 0.4rem;
    --spacing-unit: 0.25rem;

    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1.0;
    --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-2xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
    --shadow-xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
    --shadow-sm: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-md: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 2px 4px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-lg: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 4px 6px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 8px 10px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 2.50);
  }

  [data-theme="sage-garden"] {
    --background: 0.9761 0.0041 91.4461;
    --foreground: 0.2417 0.0298 269.8827;

    --card: 1 0 0;
    --card-foreground: 0.2417 0.0298 269.8827;

    --popover: 1 0 0;
    --popover-foreground: 0.2417 0.0298 269.8827;

    --primary: 0.6333 0.0309 154.9039;
    --primary-foreground: 1 0 0;

    --secondary: 0.8596 0.0291 119.9919;
    --secondary-foreground: 0.2417 0.0298 269.8827;

    --muted: 0.9251 0.0071 88.6450;
    --muted-foreground: 0.5510 0.0234 264.3637;

    --accent: 0.8242 0.0221 136.6092;
    --accent-foreground: 0.2417 0.0298 269.8827;

    --destructive: 0.5624 0.1743 26.1433;
    --destructive-foreground: 1 0 0;

    --border: 0.9251 0.0071 88.6450;
    --input: 1 0 0;

    --ring: 0.6333 0.0309 154.9039;

    --chart-1: 0.6333 0.0309 154.9039;
    --chart-2: 0.7209 0.0489 120.9474;
    --chart-3: 0.6744 0.0427 136.0110;
    --chart-4: 0.5510 0.0234 264.3637;
    --chart-5: 0.9251 0.0071 88.6450;

    --sidebar: 0.9845 0.0026 106.4477;
    --sidebar-foreground: 0.2417 0.0298 269.8827;
    --sidebar-primary: 0.6333 0.0309 154.9039;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.9251 0.0071 88.6450;
    --sidebar-accent-foreground: 0.2417 0.0298 269.8827;
    --sidebar-border: 0.9251 0.0071 88.6450;
    --sidebar-ring: 0.6333 0.0309 154.9039;

    --font-sans: var(--font-antic), ui-sans-serif, sans-serif, system-ui;
    --font-serif: var(--font-signifier, Georgia), serif;
    --font-mono: var(--font-jetbrains-mono), monospace;

    --radius: 0.35rem;
    --spacing-unit: 0.23rem;

    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.04;
    --shadow-color: #1a1f2e;
    --shadow-2xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
    --shadow-xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
    --shadow-sm: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px hsl(225 27.7778% 14.1176% / 0.04);
    --shadow: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px hsl(225 27.7778% 14.1176% / 0.04);
    --shadow-md: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 2px 4px -1px hsl(225 27.7778% 14.1176% / 0.04);
    --shadow-lg: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 4px 6px -1px hsl(225 27.7778% 14.1176% / 0.04);
    --shadow-xl: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04), 0px 8px 10px -1px hsl(225 27.7778% 14.1176% / 0.04);
    --shadow-2xl: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.10);
  }

  [data-theme='doom-64-custom'] {
    --background: 0.8452 0 0;
    --foreground: 0.2393 0 0;

    --card: 0.7572 0 0;
    --card-foreground: 0.2393 0 0;
    
    --popover: 0.7572 0 0;
    --popover-foreground: 0.2393 0 0;
    
    --primary: 0.5019 0.1884 26.7590;
    --primary-foreground: 1.0000 0 0;
    
    --secondary: 0.4963 0.0891 125.5150;
    --secondary-foreground: 1.0000 0 0;
    
    --muted: 0.7826 0 0;
    --muted-foreground: 0.4091 0 0;
    
    --accent: 0.5927 0.0979 243.9154;
    --accent-foreground: 1.0000 0 0;
    
    --destructive: 0.7022 0.2004 45.0960;
    
    --destructive-foreground: 0 0 0;
    --border: 0.4313 0 0;
    --input: 0.4313 0 0;
    
    --ring: 0.5019 0.1884 26.7590;
    --chart-1: 0.5019 0.1884 26.7590;
    --chart-2: 0.4963 0.0891 125.5150;
    --chart-3: 0.5927 0.0979 243.9154;
    --chart-4: 0.7022 0.2004 45.0960;
    --chart-5: 0.5636 0.0438 38.0604;
    
    --sidebar: 0.7572 0 0;
    --sidebar-foreground: 0.2393 0 0;
    --sidebar-primary: 0.5019 0.1884 26.7590;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.5927 0.0979 243.9154;
    --sidebar-accent-foreground: 1.0000 0 0;
    --sidebar-border: 0.4313 0 0;
    --sidebar-ring: 0.5019 0.1884 26.7590;
    
    --font-sans: var(--font-oxanium), sans-serif;
    --font-serif: var(--font-abhaya-libre), ui-serif, serif;
    --font-mono: var(--font-source-code-pro), monospace;
    
    --radius: 1.85rem;
    --spacing-unit: 0.25rem;
    
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.20);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.20);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
    --shadow: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.40);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.40);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.40), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.40);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 1.00);
  }

  [data-theme='neo-brutalism-custom'] {
    --background: 1.0000 0 0;
    --foreground: 0 0 0;
    
    --card: 1.0000 0 0;
    --card-foreground: 0 0 0;
    
    --popover: 1.0000 0 0;
    --popover-foreground: 0 0 0;
    
    --primary: 0.6489 0.2370 26.9728;
    --primary-foreground: 1.0000 0 0;
    
    --secondary: 0.9680 0.2110 109.7692;
    --secondary-foreground: 0 0 0;
    
    --muted: 0.9551 0 0;
    --muted-foreground: 0.3211 0 0;
    
    --accent: 0.5635 0.2408 260.8178;
    --accent-foreground: 1.0000 0 0;
    
    --destructive: 0 0 0;
    --destructive-foreground: 1.0000 0 0;
    
    --border: 0 0 0;
    --input: 0 0 0;
    --ring: 0.6489 0.2370 26.9728;
    
    --chart-1: 0.6489 0.2370 26.9728;
    --chart-2: 0.9680 0.2110 109.7692;
    --chart-3: 0.5635 0.2408 260.8178;
    --chart-4: 0.7323 0.2492 142.4953;
    --chart-5: 0.5931 0.2726 328.3634;
    
    --sidebar: 0.9551 0 0;
    --sidebar-foreground: 0 0 0;
    --sidebar-primary: 0.6489 0.2370 26.9728;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.5635 0.2408 260.8178;
    --sidebar-accent-foreground: 1.0000 0 0;
    --sidebar-border: 0 0 0;
    --sidebar-ring: 0.6489 0.2370 26.9728;
 
    --font-sans: var(--font-englebert), ui-sans-serif, sans-serif, system-ui;
    --font-serif: var(--font-amiri), ui-serif, serif;
    --font-mono: var(--font-azeret-mono), ui-monospace, monospace;
    
    --radius: 0rem;
    --spacing-unit: 0.18rem;
    
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 17.5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.91;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.46);
    --shadow-xs: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.46);
    --shadow-sm: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.91), 4px 1px 2px -1px hsl(0 0% 0% / 0.91);
    --shadow: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.91), 4px 1px 2px -1px hsl(0 0% 0% / 0.91);
    --shadow-md: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.91), 4px 2px 4px -1px hsl(0 0% 0% / 0.91);
    --shadow-lg: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.91), 4px 4px 6px -1px hsl(0 0% 0% / 0.91);
    --shadow-xl: 4px 4px 17.5px 0px hsl(0 0% 0% / 0.91), 4px 8px 10px -1px hsl(0 0% 0% / 0.91);
    --shadow-2xl: 4px 4px 17.5px 0px hsl(0 0% 0% / 2.27);
  }
    [data-theme='notebook'] {
    --background: 0.9821 0 0;
    --foreground: 0.3485 0 0;
    
    --card: 1.0000 0 0;
    --card-foreground: 0.3485 0 0;
    
    --popover: 1.0000 0 0;
    --popover-foreground: 0.3485 0 0;
    
    --primary: 0.4891 0 0;
    --primary-foreground: 0.9551 0 0;
    
    --secondary: 0.9006 0 0;
    --secondary-foreground: 0.3485 0 0;
    
    --muted: 0.9158 0 0;
    --muted-foreground: 0.4313 0 0;
    
    --accent: 0.9354 0.0456 94.8549;
    --accent-foreground: 0.4015 0.0436 37.9587;
    
    --destructive: 0.6627 0.0978 20.0041;
    --destructive-foreground: 1.0000 0 0;
    
    --border: 0.5538 0.0025 17.2320;
    --input: 1.0000 0 0;
    --ring: 0.7058 0 0;
    
    --chart-1: 0.3211 0 0;
    --chart-2: 0.4495 0 0;
    --chart-3: 0.5693 0 0;
    --chart-4: 0.6830 0 0;
    --chart-5: 0.7921 0 0;
    
    --sidebar: 0.9551 0 0;
    --sidebar-foreground: 0.3485 0 0;
    --sidebar-primary: 0.4891 0 0;
    --sidebar-primary-foreground: 0.9551 0 0;
    --sidebar-accent: 0.9354 0.0456 94.8549;
    --sidebar-accent-foreground: 0.4015 0.0436 37.9587;
    --sidebar-border: 0.8078 0 0;
    --sidebar-ring: 0.7058 0 0;
    
    --font-sans: var(--font-architects-daughter), sans-serif;
    --font-serif: "Times New Roman", Times, serif;
    --font-mono: "Courier New", Courier, monospace;
    
    --radius: 0.625rem;
    --spacing-unit: 0.3rem;
    
    --shadow-x: 1px;
    --shadow-y: 4px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.03;
    --shadow-color: #000000;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  }

  [data-theme='retro-arcade-custom'] {
    --background: 0.9401 0.0897 137.3041;
    --foreground: 0.1912 0.0970 281.6810;
    
    --card: 0.8855 0.0642 138.0882;
    --card-foreground: 0.1912 0.0970 281.6810;
    
    --popover: 0.8855 0.0642 138.0882;
    --popover-foreground: 0.1912 0.0970 281.6810;
    
    --primary: 0.6539 0.1312 62.5384;
    --primary-foreground: 1.0000 0 0;
    
    --secondary: 0.3715 0.1629 271.9974;
    --secondary-foreground: 1.0000 0 0;
    
    --muted: 0.6254 0.0238 285.6901;
    --muted-foreground: 0.1912 0.0970 281.6810;
    
    --accent: 0.7303 0.1825 126.4858;
    --accent-foreground: 1.0000 0 0;
    
    --destructive: 0.8344 0.1758 110.7433;
    --destructive-foreground: 1.0000 0 0;
    
    --border: 0.5784 0.0320 289.7276;
    --input: 0.5784 0.0320 289.7276;
    --ring: 0.6539 0.1312 62.5384;
    
    --chart-1: 0.4541 0.2206 294.1520;
    --chart-2: 0.3715 0.1629 271.9974;
    --chart-3: 0.6539 0.1312 62.5384;
    --chart-4: 0.7303 0.1825 126.4858;
    --chart-5: 0.8344 0.1758 110.7433;
    
    --sidebar: 0.9401 0.0897 137.3041;
    --sidebar-foreground: 0.1912 0.0970 281.6810;
    --sidebar-primary: 0.6539 0.1312 62.5384;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.3715 0.1629 271.9974;
    --sidebar-accent-foreground: 1.0000 0 0;
    --sidebar-border: 0.5784 0.0320 289.7276;
    --sidebar-ring: 0.6539 0.1312 62.5384;
    
    --font-sans: var(--font-lexend-zetta), ui-sans-serif, sans-serif, system-ui;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    
    --radius: 0.25rem;
    --spacing-unit: 0.25rem;

    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.32;
    --shadow-color: #10042f;
    --shadow-2xs: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.16);
    --shadow-xs: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.16);
    --shadow-sm: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.32), 2px 1px 2px -1px hsl(256.7442 84.3137% 10% / 0.32);
    --shadow: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.32), 2px 1px 2px -1px hsl(256.7442 84.3137% 10% / 0.32);
    --shadow-md: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.32), 2px 2px 4px -1px hsl(256.7442 84.3137% 10% / 0.32);
    --shadow-lg: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.32), 2px 4px 6px -1px hsl(256.7442 84.3137% 10% / 0.32);
    --shadow-xl: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.32), 2px 8px 10px -1px hsl(256.7442 84.3137% 10% / 0.32);
    --shadow-2xl: 2px 2px 4px 0px hsl(256.7442 84.3137% 10% / 0.80);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html[data-theme='default'],
html[data-theme='kodama-grove'],
html[data-theme="bubblegum"],
html[data-theme="sage-garden"]
html[data-theme='doom-64-custom'],
html[data-theme='neo-brutalism-custom'],
html[data-theme='notebook'],
html[data-theme='retro-arcade-custom'] {
  opacity: initial;
}
