@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 1.0000 0 0;
    --foreground: 0.2012 0.0453 278.3434;

    --card: 0.9608 0.0024 264.5313;
    --card-foreground: 0.2012 0.0453 278.3434;

    --popover: 1.0000 0 0;
    --popover-foreground: 0.2012 0.0453 278.3434;

    --primary: 0 0 0;
    --primary-foreground: 0.9843 0.0039 264.5419;

    --secondary: 0.9608 0.0192 264.5313;
    --secondary-foreground: 0.2695 0.0515 278.0403;

    --muted: 0.986 0 0;
    --muted-foreground: 1 0 0;

    --text: 0.52 0 0;
    --black-color: 0 0 0;
    --white-color: 1 0 0;
    --gray-color: 0.54 0 0;
    --footer: 0.18 0 0;

    --accent: 0.96 0 0;
    --accent-foreground: 0 0 0;

    --destructive: 0.6279 0.2577 29.2339;
    --destructive-foreground: 0.9843 0.0039 264.5419;

    --border: 0.8549 0.0136 258.3382;
    --input: 0.9176 0.0167 258.8462;
    --ring: 0.2012 0.0453 278.3434;

    --radius: 0.2rem;

    --success: 0.7686 0.1686 208.1613;
    --warning: 0.9138 0.1285 86.0588;
    --error: 0.8824 0.1961 27.3251;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html[data-theme='light'] {
  opacity: initial;
}
